.ranger-image-object {
    float: left;
    padding: 5px;
    max-width: 100px;
    height: 240px;
}

.ranger-image {
    display: block;
    margin: auto;
    width: 95%;
}

.ranger-image-points {
    text-align: center;
}

.ranger-spacer {
    float: left;
    background-color: white;
    width: 5px;
}

#battlefield,
#opponent-on-deck,
#mid-text {
    clear: left;
}

.div-vs {
    float: left;
    padding: 5px;
    max-width: 100px;
    height: 240px;
    font-size: 4em;
}

#button-row {
    clear: left;
    padding: 5px;
    max-width: 300px;
}

/* label added to coerce final git push */

b {
    color: white;
}